<!DOCTYPE html>
<html>
    <head>
        <title>Phonebook</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        {{{body}}}
        <script>
            $(document).ready( function () {
                $('#phonebook').DataTable();
            } );
        </script>
    </body>
</html>