<div class="ui-panel ui-remove-form">
    <form method="POST" action="/remove">
        <div class="ui-panel-grid">

            <div class="row">
                <label class="ui-header">Remove contact</label>
                <a href="/" class="ui-button white ui-float__right" title="Return to the phonebook">Go back</a>
                <p class="clear" />
            </div>

            <div class="row">
                <label>Contact id:*</label>
                <input type="number" name="id" placeholder="Contact id" required>
            </div>

            <div class="ui-panel-footer">
                <button type="submit" class="ui-button red" title="Confirm deleting">Confirm</button>
            </div>
            
        </div>
    </form>
</div>