@font-face {
	font-family: "robotolight"; 
	src: url("../fonts/Roboto/Roboto-Light.ttf") format('truetype');
	
	font-weight: normal;
	font-style: normal; 
} 


@font-face {
	font-family: "robotoregular"; 
	src: url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
	
	font-weight: normal;
	font-style: normal; 
} 
